$ravenclaw1: #222f5b;
$ravenclaw2: #946b2d;
$hufflepuff1: #ecb939;
$hufflepuff2: #726255;
$slytherin1: #2a623d;
$slytherin2: #aaaaaa;
$gryffindor1: #ae0001;
$gryffindor2: #eeba30;
$white: ghostwhite;

#Gryffindor {
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(../assets/lion2.jpg);
  .house-details {
    h2::before {
      background: $gryffindor1;
    }
  }
}

#Ravenclaw {
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../assets/raven1.jpg);
  .house-details {
    h2::before {
      background: $ravenclaw1;
    }
  }
}

#Hufflepuff {
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(../assets/badger1.jpg);
  .house-details {
    h2::before {
      background: $hufflepuff1;
    }
  }
}

#Slytherin {
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/snake2.jpg);
  .house-details {
    h2::before {
      background: $slytherin1;
    }
  }
}

#Gryffindor,
#Hufflepuff,
#Ravenclaw,
#Slytherin {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
  }
  header {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 4vw;
    h1 {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.house-details {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  .wrapper {
    padding: 0 20%;
  }
  h2 {
    position: relative;
    margin-bottom: 25px;
  }
  h2::before {
    content: "";
    position: absolute;
    top: 45px;
    width: 100px;
    height: 8px;
  }
  p {
    top: -30px;
  }
  h2,
  p {
    color: $white;
  }
}

.detail {
  position: relative;
}

.detail:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.7);
  padding: 125px 0;
}

.detail:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.2);
  padding: 150px 0;
  h2,
  p {
    text-align: right;
  }
}

.detail:nth-of-type(odd)::before,
.detail:nth-of-type(even)::before,
.detail:nth-of-type(3)::after {
  content: "";
  position: absolute;
  width: 100%;
  border-style: solid;
}

.detail:nth-of-type(1)::before {
  top: -80px;
  border-width: 80px 0 0 100vw;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.73);
}

.detail:nth-of-type(2)::before {
  top: 0;
  border-width: 0 100vw 80px 100vw;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.63);
}

.detail:nth-of-type(3)::before {
  top: -80px;
  border-width: 80px 0 0 100vw;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.63);
}

.detail:nth-of-type(3)::after {
  top: 100%;
  border-width: 0 100vw 80px 100vw;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.62);
}

/////
/// MEDIA QUERIES
////
@media (max-width: 768px) {
  #Gryffindor {
    .house-details, .house-list {
      background: $gryffindor1;
    }
    header {
      background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url(../assets/lion2.jpg);
    }
  }
  #Hufflepuff {
    .house-details, .house-list {
      background: $hufflepuff1;
    }
    header {
      background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url(../assets/badger1.jpg);
    }
  }
  #Ravenclaw {
    .house-details, .house-list {
      background: $ravenclaw1;
    }
    header {
      background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url(../assets/raven1.jpg);
    }
  }
  #Slytherin {
    .house-details, .house-list {
      background: $slytherin1;
    }
    header {
      background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../assets/snake2.jpg);
    }
  }
  #Gryffindor,
  #Hufflepuff,
  #Ravenclaw,
  #Slytherin {
    header {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
    }
  }
  @media (max-width: 768px) {
    .detail:nth-of-type(odd) {
      background: black;
    }
  }
  .detail:nth-of-type(3)::after {
    border-color: transparent transparent transparent black;
  }
  .detail:nth-of-type(1)::before {
    border-color: transparent transparent transparent black;
  }
  .detail:nth-of-type(even),
  .detail:nth-of-type(odd) {
    h2,
    p {
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  .house-details {
    h2 {
      font-size: 2.5rem;
    }
    p {
      font-size: 4rem;
    }
  }
}
