
#Gryffindor {
//   background: radial-gradient(#740001, #330001),
//   url(../assets/Gryffindor.svg);
  background: radial-gradient(rgba(116,0,1,0.9), rgba(116,0,1,0.9)),
  url(../assets/Gryffindor.svg);
}

#Ravenclaw {
//   background: radial-gradient(#0e1a40, #070c1f),
//   url(../assets/Ravenclaw.svg);
   background: radial-gradient(rgba(14,26,64,0.9), rgba(14,26,64,0.9)),
  url(../assets/Ravenclaw.svg);
}

#Hufflepuff {
//   background: radial-gradient(#dba826, #5a4204),
//   url(../assets/Hufflepuff.svg);
  background: radial-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
  url(../assets/Hufflepuff.svg);
}

#Slytherin {
  background: radial-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url(../assets/Slytherin.svg);
//   background: radial-gradient(#1a472a, #0a1d11),
//   url(../assets/Slytherin-white.svg);
}

#Gryffindor,
#Hufflepuff,
#Ravenclaw,
#Slytherin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
}

.main-dash {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .house-header {
        text-align: center;
    }
    .user-info {
        text-align: center;
    }
    .user-name {
        margin-bottom: 20px;
    }
    .dash-details {
        display: flex;
        justify-content: space-between;
    }
    .spells {
        margin-top: 50px;
        text-align: center;
        padding-top: 75px;
        height: 310px;
        width: 310px;
        border-radius: 50%;
        .spell {
            margin-bottom: 10px;
        }
        .spell-effect {
            text-transform: capitalize;
        }
    }
}

.house-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    padding: 50px 0; 
    border-top:1px solid rgba(255,255,255,0.5);
    border-bottom:1px solid rgba(255,255,255,0.5);    
    width: 100%;
}
.details-container {
    display: flex;
    justify-content: center;
    .detail-item {
        margin: 0 30px;
        padding: 10px 20px;
    }
    .detail-head {
        margin-bottom: 10px;

    }
}

li::before, 
li::after {
    content: "";
    position: absolute;
}