.house-list {
  padding: 150px 0 50px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    font-size: 2.2rem;
    margin-bottom: 10px;
    line-height: 1.2;
    width: 33.3333%;
  }
}

#Ravenclaw li::after,
.detail-item::after {
  background: rgb(148, 107, 45);
}

#Gryffindor li::after,
.detail-item::after {
  background: rgb(238, 186, 48);
}

#Hufflepuff li::before {
  background: rgba(114, 98, 85, 0.4);
}

#Hufflepuff li::after,
.detail-item::after {
  background: rgba(55, 46, 41, 0.8);
}

#Slytherin li::before {
  background: rgba(255, 255, 255, 0.1);
}

#Slytherin li::after,
.detail-item::after {
  background: rgba(170, 170, 170, 0.5);
}

@media (max-width: 980px) {
  .house-list li {
    width: calc(33.333% - 50px);
  }
}

@media (max-width: 767px) {
  .house-list li {
    width: calc(50% - 50px);
  }
}

@media (max-width: 500px) {
  .house-list li {
    width: 100%;
  }
}
