.sort-result {
    padding-top: 20vh;
    height: 100vh;
    text-align: center;
    p {
        // font-family: 'Cutive Mono', monospace;
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
    }
    .house, 
    .name {
        display: block;
    }
    .house {
        font-size: 7rem;
        margin-top: 10px;
        // font-style: italic;
    }
    .name {
        font-size: 5rem;
        margin-bottom: 20px;
    }
}