html {
  font-size: 62.7%;
}

body {
  font-family: "Gothic A1", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-size: 2rem;
  color: ghostwhite;
  font-weight: 200;
}

h1,
h2,
h3 {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
#form-section {
  h1 {
    font-size: 5vmax;
    line-height: 1;
  }
}
h2 {
  font-size: 3.5rem;
  margin-bottom: 25px;
}

h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-style: italic;
}

input[type="text"] {
  font-size: 2.2rem;
  &::placeholder {
    text-align: center;
    font-style: italic;
  }
}

.sort-result {
  p {
    font-size: 4rem;
  }
  .result-house {
    font-size: 16vw;
    text-transform: uppercase;
    font-weight: 600;
  }
  .Hufflepuff {
    color: #ecb939;
  }
  .Ravenclaw {
    color: #222f5b;
  }
  .Gryffindor {
    color: #740001;
  }
  .Slytherin {
    color: #2a623d;
  }
}

#Gryffindor,
#Hufflepuff,
#Ravenclaw,
#Slytherin {
  header h1 {
    font-size: 15vw;
    text-transform: uppercase;
  }
}
.house-details {
  h2 {
    font-size: 3rem;
    letter-spacing: 0rem;
  }
  p {
    font-family: "Vollkorn", serif;
    font-size: 5rem;
    font-style: italic;
    line-height: 1;
  }
}

// .user-name,
// .detail-head {
//   font-weight: bold;
// }

// .user-name {
//   font-size: 5rem;
//   font-style: italic;
// }

// .spell {
//   font-weight: bold;
// }
// .spell-effect {
//   font-style: italic;
// }

// .detail-head {
//   font-style: italic;
//   font-size: 2.5rem;
// }
