html {
  font-size: 62.7%;
}

body {
  font-family: 'Mada', sans-serif;
  font-size: 2rem;
}

h1, h2 {
  color: white;
  font-family: 'Cutive Mono', monospace;
}

h1 {
  font-size: 6.5rem;
}

h2 {
  font-size: 3rem;
}

