/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

ul {
  list-style: none; }

/* /END GENERAL STYLING */
html {
  font-size: 62.7%; }

body {
  font-family: "Gothic A1", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-size: 2rem;
  color: ghostwhite;
  font-weight: 200; }

h1,
h2,
h3 {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  text-transform: uppercase; }

#form-section h1 {
  font-size: 5vmax;
  line-height: 1; }

h2 {
  font-size: 3.5rem;
  margin-bottom: 25px; }

h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-style: italic; }

input[type="text"] {
  font-size: 2.2rem; }
  input[type="text"]::placeholder {
    text-align: center;
    font-style: italic; }

.sort-result p {
  font-size: 4rem; }

.sort-result .result-house {
  font-size: 16vw;
  text-transform: uppercase;
  font-weight: 600; }

.sort-result .Hufflepuff {
  color: #ecb939; }

.sort-result .Ravenclaw {
  color: #222f5b; }

.sort-result .Gryffindor {
  color: #740001; }

.sort-result .Slytherin {
  color: #2a623d; }

#Gryffindor header h1,
#Hufflepuff header h1,
#Ravenclaw header h1,
#Slytherin header h1 {
  font-size: 15vw;
  text-transform: uppercase; }

.house-details h2 {
  font-size: 3rem;
  letter-spacing: 0rem; }

.house-details p {
  font-family: "Vollkorn", serif;
  font-size: 5rem;
  font-style: italic;
  line-height: 1; }

/* FORM */
img {
  color: white;
  width: 100px; }

.wrapper {
  margin: 0 auto;
  max-width: 90vw; }

#form-section {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  #form-section .wrapper {
    text-align: center; }
  #form-section .input-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #form-section input[type="text"] {
    width: 300px;
    padding-bottom: 2px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center; }
    #form-section input[type="text"]::placeholder {
      color: white; }
    #form-section input[type="text"]:focus {
      color: none; }
  #form-section .icons-container {
    margin: 50px 0;
    display: flex;
    justify-content: center; }

input[type="submit"],
.sort-result button {
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  height: 50px;
  background: transparent;
  color: white;
  transition: 0.15s ease-out;
  border: 1px solid white; }
  input[type="submit"]:hover,
  .sort-result button:hover {
    background: white;
    color: black; }

#sort-page {
  background: black;
  color: white; }

.sort-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; }
  .sort-result .result-house {
    display: block; }
  .sort-result .result-house {
    margin-top: 10px;
    line-height: 1; }
  .sort-result .hide {
    visibility: hidden; }
  .sort-result .anim1 {
    animation: zoomIn 1s; }
  .sort-result .anim2 {
    animation: zoomIn 1s; }
  .sort-result .anim3 {
    animation: jackInTheBox 1.25s; }
  .sort-result .anim4 {
    animation: slideInUp 1s; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    color: transparent; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    color: white; } }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom; }
  50% {
    transform: rotate(-10deg); }
  70% {
    transform: rotate(3deg); }
  to {
    opacity: 1;
    transform: scale(1); } }

#Gryffindor {
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../assets/lion2.jpg); }
  #Gryffindor .house-details h2::before {
    background: #ae0001; }

#Ravenclaw {
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../assets/raven1.jpg); }
  #Ravenclaw .house-details h2::before {
    background: #222f5b; }

#Hufflepuff {
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../assets/badger1.jpg); }
  #Hufflepuff .house-details h2::before {
    background: #ecb939; }

#Slytherin {
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/snake2.jpg); }
  #Slytherin .house-details h2::before {
    background: #2a623d; }

#Gryffindor,
#Hufflepuff,
#Ravenclaw,
#Slytherin {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  #Gryffindor .wrapper,
  #Hufflepuff .wrapper,
  #Ravenclaw .wrapper,
  #Slytherin .wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px; }
  #Gryffindor header,
  #Hufflepuff header,
  #Ravenclaw header,
  #Slytherin header {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 4vw; }
    #Gryffindor header h1,
    #Hufflepuff header h1,
    #Ravenclaw header h1,
    #Slytherin header h1 {
      color: rgba(255, 255, 255, 0.6); }

.house-details {
  background: rgba(0, 0, 0, 0.1);
  width: 100%; }
  .house-details .wrapper {
    padding: 0 20%; }
  .house-details h2 {
    position: relative;
    margin-bottom: 25px; }
  .house-details h2::before {
    content: "";
    position: absolute;
    top: 45px;
    width: 100px;
    height: 8px; }
  .house-details p {
    top: -30px; }
  .house-details h2,
  .house-details p {
    color: ghostwhite; }

.detail {
  position: relative; }

.detail:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.7);
  padding: 125px 0; }

@media (max-width: 768px) {
  .detail:nth-of-type(odd) {
    background: black; } }

.detail:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.2);
  padding: 150px 0; }
  .detail:nth-of-type(even) h2,
  .detail:nth-of-type(even) p {
    text-align: right; }

.detail:nth-of-type(odd)::before,
.detail:nth-of-type(even)::before,
.detail:nth-of-type(3)::after {
  content: "";
  position: absolute;
  width: 100%;
  border-style: solid; }

.detail:nth-of-type(1)::before {
  top: -80px;
  border-width: 80px 0 0 100vw;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.73); }

@media (max-width: 768px) {
  .detail:nth-of-type(1)::before {
    border-color: transparent transparent transparent black; } }

.detail:nth-of-type(2)::before {
  top: 0;
  border-width: 0 100vw 80px 100vw;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.63); }

.detail:nth-of-type(3)::before {
  top: -80px;
  border-width: 80px 0 0 100vw;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.63); }

.detail:nth-of-type(3)::after {
  top: 100%;
  border-width: 0 100vw 80px 100vw;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.62); }

@media (max-width: 870px) {
  .house-details .wrapper {
    padding: 0 0; } }

@media (max-width: 870px) {
  .detail:nth-of-type(even) h2,
  .detail:nth-of-type(even) p,
  .detail:nth-of-type(odd) h2,
  .detail:nth-of-type(odd) p {
    text-align: center; } }

@media (max-width: 768px) {
  #Gryffindor {
    background: #ae0001; }
    #Gryffindor header {
      background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../assets/lion2.jpg); }
  #Hufflepuff {
    background: #ecb939; }
    #Hufflepuff header {
      background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(../assets/badger1.jpg); }
  #Ravenclaw {
    background: #222f5b; }
    #Ravenclaw header {
      background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../assets/raven1.jpg); }
  #Slytherin {
    background: #2a623d; }
    #Slytherin header {
      background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/snake2.jpg); }
  #Gryffindor header,
  #Hufflepuff header,
  #Ravenclaw header,
  #Slytherin header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; } }

@media (max-width: 450px) {
  .house-details h2 {
    font-size: 2.5rem; }
  .house-details p {
    font-size: 4rem; } }

.house-list {
  padding: 150px 0 50px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3); }
  .house-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .house-list li {
    font-size: 2.2rem;
    margin-bottom: 10px;
    line-height: 1.2;
    width: 33.3333%; }

#Ravenclaw li::after,
.detail-item::after {
  background: #946b2d; }

#Gryffindor li::after,
.detail-item::after {
  background: #eeba30; }

#Hufflepuff li::before {
  background: rgba(114, 98, 85, 0.4); }

#Hufflepuff li::after,
.detail-item::after {
  background: rgba(55, 46, 41, 0.8); }

#Slytherin li::before {
  background: rgba(255, 255, 255, 0.1); }

#Slytherin li::after,
.detail-item::after {
  background: rgba(170, 170, 170, 0.5); }

@media (max-width: 980px) {
  .house-list li {
    width: calc(33.333% - 50px); } }

@media (max-width: 767px) {
  .house-list li {
    width: calc(50% - 50px); } }

@media (max-width: 500px) {
  .house-list li {
    width: 100%; } }
