/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

ul {
  list-style: none; }

/* /END GENERAL STYLING */
html {
  font-size: 62.7%; }

body {
  font-family: 'Gothic A1', sans-serif;
  font-size: 2rem; }

h1, h2, h3 {
  color: white;
  font-family: 'Cutive Mono', monospace;
  font-family: 'Playfair Display', serif; }

h1 {
  font-size: 6.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  margin-bottom: 10px; }

/* FORM */
#form-section {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center; }
  #form-section .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh; }
  #form-section .input-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #form-section label {
    margin-right: 10px;
    margin-bottom: 5px;
    color: white; }
  #form-section input[type="text"] {
    width: 300px;
    padding: 10px 0;
    margin: 10px 0;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
    font-size: 2rem; }
    #form-section input[type="text"]::placeholder {
      color: white;
      text-align: center;
      font-style: italic; }
  #form-section .icons-container {
    margin: 50px 0;
    display: flex;
    justify-content: center; }

input[type="submit"],
.sort-result button {
  margin-top: 20px;
  padding: 10px;
  width: 175px;
  height: 50px;
  background: transparent;
  color: white;
  transition: .15s ease-out;
  border: 1px solid white; }
  input[type="submit"]:hover,
  .sort-result button:hover {
    background: white;
    color: black; }

.sort-result {
  padding-top: 20vh;
  height: 100vh;
  text-align: center; }
  .sort-result p {
    font-family: 'Playfair Display', serif;
    font-size: 3rem; }
  .sort-result .house,
  .sort-result .name {
    display: block; }
  .sort-result .house {
    font-size: 7rem; }
  .sort-result .name {
    font-size: 5rem;
    margin-bottom: 20px; }

/* #Gryffindor .user-house-dash {
  background: radial-gradient(#740001, #330001);
}
#Slytherin .user-house-dash {
  background: radial-gradient(#1a472a, #0a1d11);
}
#Ravenclaw .user-house-dash {
  background: radial-gradient(#0e1a40, #070c1f);
}
#Hufflepuff .user-house-dash {
  background: radial-gradient(#ecb939, #805c04);
} */
#Gryffindor {
  background: radial-gradient(#740001, #330001); }

#Ravenclaw {
  background: radial-gradient(#0e1a40, #070c1f); }

#Hufflepuff {
  background: radial-gradient(#ecb939, #805c04); }

#Slytherin {
  background: radial-gradient(#1a472a, #0a1d11);
  background: #0a1d11; }

#Gryffindor,
#Hufflepuff,
#Ravenclaw,
#Slytherin {
  display: flex;
  flex-direction: column;
  color: white;
  min-height: 100vh; }

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px; }

/* 
Gryffindor
#740001 	(116,0,1)
#ae0001 	(174,0,1)
#eeba30 	(238,186,48)
#d3a625 	(211,166,37)
#000000 	(0,0,0) 

Hufflepuff
#ecb939 	(236,185,57)
#f0c75e 	(240,199,94)
#726255 	(114,98,85)
#372e29 	(55,46,41)
#000000 	(0,0,0)

Slytherin
#1a472a 	(26,71,42)
#2a623d 	(42,98,61)
#5d5d5d 	(93,93,93)
#aaaaaa 	(170,170,170)
#000000 	(0,0,0)

Ravenclaw
#0e1a40 	(14,26,64)
#222f5b 	(34,47,91)
#5d5d5d 	(93,93,93)
#946b2d 	(148,107,45)
#000000 	(0,0,0) 
*/
#Ravenclaw .dashboard,
#Gryffindor .dashboard,
#Slytherin .dashboard,
#Hufflepuff .dashboard {
  background-repeat: no-repeat;
  background-position: 25%, -10%;
  background-size: cover;
  background-position: 50% 3%; }

.main-dash {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .main-dash .house-header {
    text-align: center; }
  .main-dash .user-info {
    text-align: center; }
  .main-dash .user-name {
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    font-style: italic; }
  .main-dash .dash-details {
    display: flex;
    justify-content: space-between; }
  .main-dash .spell-of-day {
    text-align: center; }
  .main-dash .detail-item {
    display: flex; }
  .main-dash .detail-head {
    font-weight: bold;
    margin-right: 10px; }

.house-list {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.house-name {
  text-align: center;
  padding: 40px 0;
  text-transform: capitalize; }

ul {
  width: 100%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

li {
  margin: 10px 0;
  padding: 4px 0;
  width: 20%;
  position: relative; }

li::before,
li::after {
  content: "";
  position: absolute; }

li::before {
  width: 100px;
  height: 1px;
  bottom: -10px;
  left: 75px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10; }

li::after {
  bottom: -11px;
  left: 125px;
  width: 3px;
  height: 3px;
  border-radius: 50px;
  z-index: 20; }

#Ravenclaw li::after {
  background: #946b2d; }

#Gryffindor li::after {
  background: #eeba30; }

#Hufflepuff li::before {
  background: rgba(114, 98, 85, 0.4); }

#Hufflepuff li::after {
  background: rgba(55, 46, 41, 0.8); }

#Slytherin li::before {
  background: rgba(0, 0, 0, 0.4); }

#Slytherin li::after {
  background: rgba(170, 170, 170, 0.5); }

img {
  color: white;
  height: 100px;
  width: 100px; }
